{% block markdown_widget %}
    {% spaceless %}
<div class="row">
<textarea {{ block('widget_attributes') }}>
{% if show_help %}
Need help writing Markdown? [Daring Fireball has a list of available syntax.](http://daringfireball.net/projects/markdown/syntax)
{% else %}
{{ data|trim }}
{% endif %}
</textarea>
</div>
    {% endspaceless %}

    {% javascripts
		'@FictionMarkdownEditorBundle/Resources/public/js/editor.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock markdown_widget %}