{% extends 'FictionAppBundle:Base:layout.html.twig' %}

{% block title %}Delete a Fandom{% endblock %}

{% block body %}
	<div class="col-md-12 alert alert-danger text-center" role="alert">
		<h3 class="">You are about to delete a fandom! Are you sure you want to do that?</h3>
	</div>
{% endblock %}