{% extends "FictionUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="alert alert-warning" role="alert">
		<p>{{ 'resetting.password_already_requested'|trans }}</p>
	</div>
{% endblock fos_user_content %}
