{% extends 'FictionAppBundle:Base:layout.html.twig' %}

{% block title %}Add a Chapter{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="alert alert-danger text-center">
	        <h4>{{ flashMessage|raw }}</h4>
	    </div>
	{% endfor %}
	{% if form and world %}	
		<h1>{{ world }}</h1>
		{{ form(form) }}
		{{ tinymce_init() }}
	{% endif %}
{% endblock %}